<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h2>The total number of users are : <%=count%></h2>
    <form action="/user"><button>Show users</button></form>
    <br>
    <form method="POST" action="/user/new"><button>Join us</button></form>
</body>
</html>